{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Психолог Мария Ондрушка{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pages/style.css' %}">
    {% block extra_css %}{% endblock %}
    <!-- Подключение шрифта Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <footer class="site-footer">
        <div class="footer-links">
            {% if user.is_authenticated %}
            <!-- Если пользователь вошёл -->
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
            <!-- Если пользователь не вошёл -->
                <a href="{% url 'register' %}">Регистрация</a>
                <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </div>
        <div class="footer-text">
            © {{ current_year }} Психолог Мария Ондрушка. Все права защищены.
        </div>
    </footer>

    {% block content %}
    {% endblock %}
    {% block extra_js %}{% endblock %}

</body>
</html>
