body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.top-menu {
    background: #012b27;
    color: white;
    padding: 1em;
    text-align: center;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-menu li {
    display: inline;
    margin: 0 1em;
}

.top-menu a {
    color: white;
    text-decoration: none;
}

.psychologist-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

section {
    padding: 4em 2em; /* Отступы внутри */
    width: 100%; /* Занимает всю ширину */
    height: 500px;
    margin: 0; /* Убираем внешние отступы */
    box-shadow: none; /* Убираем тень */
    border-radius: 0; /* Убираем скругление */
}

#welcome {
    background-color: #566967; 
}

#about {
    background-color: #566967; 
}

#why-therapy {
    background-color: #fdfbf6; 
}

#why-offer {
    background-color: #566967;
}

#price {
    background-color: #fdfbf6;
}

#contacts {
    background-color: #566967;
}