body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.top-menu {
    background-color: transparent;
    border-bottom: none;
    color: white;
    padding: 1em;
    text-align: center;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-menu li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.top-menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.psychologist-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

section {
    padding: 4em 2em; /* Отступы внутри */
    width: 100%; /* Занимает всю ширину */
    height: 500px;
    margin: 0; /* Убираем внешние отступы */
    box-shadow: none; /* Убираем тень */
    border-radius: 0; /* Убираем скругление */
}

#welcome {
    background-color: #566967; 
}

#about {
    background-color: #566967; 
}

#why-therapy {
    background-color: #fdfbf6; 
}

#why-offer {
    background-color: #566967;
}

#price {
    background-color: #fdfbf6;
}

#contacts {
    background-color: #566967;
}